* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common style */
body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 32px;
  color: white;
  background-color: #fd6e0a;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
section {
  padding-top: 120px;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 26px;
}
.pera {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
/* nav related styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 35px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
.logo {
  font-size: 45px;
}
.logo span {
  color: #fd6e0a;
}
/* banner style */
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  padding-left: 15%;
  max-width: 48%;
}
.banner-content h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}
.banner-content h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin: 0;
}
.banner-content p {
  color: #757575;
  font-size: 18px;
  margin: 20px 0px 40px;
}
.banner-btns button {
  margin-right: 16px;
}
.banner-btns button i {
  margin-right: 6px;
}
.banner-img {
  width: 560px;
  padding-right: 26px;
}
.btn-secondary {
  border: 1px solid #fd6e0a;
  background-color: transparent;
  color: #fd6e0a;
}
/* about section  */
.about-content {
  padding: 8% 12%;
  border-radius: 10px;
  background: #fff8f3;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}
.about-item p {
  color: #757575;
  font-size: 16px;
  margin-bottom: 8px;
}
.about-item h4 {
  color: #474747;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.do-pera {
  padding: 0 7%;
}
.do-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.do-item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin: 0 22px;
  padding: 24px;
}
.do-item h4 {
  margin: 0;
  padding: 20px 0;
  color: #181818;
  font-size: 20px;
}
.do-item p {
  color: #757575;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
}
/* resume */
.resume-info {
  display: flex;
  align-items: center;
  justify-content: start;
}
.resume-info h3 {
  color: #474747;
  font-size: 24px;
  font-weight: 700;
}
.resume-item {
  margin-right: 60px;
  padding: 26px 0px;
}
hr {
  margin-right: 80px;
  background-color: red;
}
.education-info h3,
.resume-info h3 {
  padding-bottom: 10px;
  padding-top: 60px;
}
.resume-item h4 {
  color: #474747;
  font-size: 16px;
}
.resume-item h6 {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px 16px;
}
.resume-item p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  padding-right: 74px;
}
.resume-btn {
  text-align: center;
  margin-top: 40px;
}
